/*********TAG SELECTORS********/
h1:focus-within{
    color: brown;
}

img:hover {
    background-color: aqua;
}


/*********CLASS SELECTORS********/
.apple{
    background-color: burlywood;
}
.google{
    background-color: bisque;
}
.circular{
    border-radius: 100%;
}

/*********ID SELECTORS********/
#heading{
    color: chocolate; 
}
/*id and class selectors are more specific so they'll override the tag selectors*/
/*use classes when you want to apply same style to a group of related items*/
/*use id when you want to apply a specific style to a single element*/
/*can use two classes with the same html tag*/
/*cannot use more than one id with the same html tag*/